.card{
    width: 380px;
    border: 1px solid #5656566b;
    display: inline-block;
    margin: 0 15px;
}
.top{
    padding: 8px;
    border-bottom: 1px solid black;
}
.top img,p{
    display: inline-block;
}

.middle img{
    width: 50px;
    border-radius: 50px;
}
.middle,img,p{
    display:inline-block;
    padding: 1px;
}
.name{
    float: right;
    display: inline-block;
}
.name p{
    margin: 0;
}
.middle{
    padding: 8px;
}
.bottom img{
    width: 20px;
    padding: 4px;
}

.view,h4{  
    display: inline-block;
    float: right;
    vertical-align: middle;
}

.view h4{
    margin: 6px;
}
