.wrapper{
    display: flex;
    flex-direction: column;
    width: 840px;
    margin: 0 auto;
}
.col{
    display: flex;

}
.cell{
    margin: 5px;
    background-color: black;
}
.top{
    display: flex;
    flex-direction: row;
}
.col-1{
    width: 220px;
    height: 220px;
}
.col-2{
    width: 105px;
    height: 100px;
}
.mid{
    display: flex;
    flex-direction: row;
}
.mid-2{
    display: flex;
    flex-direction: row;
}
.col-3{
    width: 680px;
    height: 150px;
}
.col-4{
    width: 220px;
    height: 150px;
}
.bottom{
    display: flex;
    flex-direction: row;
}
.col-5{
    width: 220px;
    height: 150px;
}
.col-6{
    width: 680px;
    height: 150px;
}
.bottom-2{
    display: flex;
    flex-direction: row;
}
.col-7{
    width: 450px;
    height: 150px;
}
.col-8{
    width: 450px;
    height: 150px;
}