.wrapper{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}
.col{
    display: flex;

}
.cell{
    margin: 5px;
    background-color: black;
}
.top{
    display: flex;
    flex-direction: row;
}
.col-1{
    width: 250px;
    height: 250px;
}
.col-2{
    width: 250px;
    height: 100px;
}
.mid{
    display: flex;
    flex-direction: row;
}
.bottom{
    display: flex;
    flex-direction: row;
}
.col-3{
    width: 50px;
    height: 150px;
}
.col-4{
    width: 190px;
    height: 150px;
}
.bottom-mid{
    display: flex;
    flex-direction: column;
}
.col-5{
    width: 120px;
    height: 110px;
}
.col-6{
    width: 120px;
    height: 30px;
}
.col-7{
    width: 120px;
    height: 150px;
}