main{
    width: 600px;
    margin: 0 auto;
}
.top-left-1 {
    float: left;
    width: 300px;
    background: red;
    height: 300px;
}
.top-left-2 {
    float: right;
    width: 300px;
    background: blue;
    height: 300px;
}
.mid-1{
    float: left;
    width: 300px;
    background: green;
    height: 200px;
}
.mid-2{
    float: left;
    width: 300px;
    background: grey;
    height: 200px;
}
.bottom-left-1{
    float: left;
    width: 100px;
    background: red;
    height: 200px;
}
.bottom-left-2{
    float: left;
    width: 200px;
    background: blue;
    height: 200px;
}
.bottom-mid-1{
    float: left;
    width: 200px;
    background: red;
    height: 150px;
}
.bottom-mid-2{
    float: left;
    width: 200px;
    background: green;
    height: 50px;
}
.bottom-right-1{
    float: right;
    width: 100px;
    background: blue;
    height: 200px;
}