* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
main {
	width:600px;
	height:600px;
	margin: 30px auto;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 2fr 1fr;
}
main div {
	background:black;
}
.cell-1 {
	grid-column: 1fr; 
}
.cell-2 {
	grid-column: span 2;
}
.col-1 {
	grid-row: 1fr;
}
.col-2{
	grid-row: span 2;
}
.col-3 {
	grid-row: span 3;
}